@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

@import "tailwindcss";

@theme {
  --font-source: "Source Serif 4", serif;
  --color-app-light-bg: var(--bg-color);
  --color-app-dark-bg: var(--text-color);
  --color-text-color:var(--bg-color)
}

:root {
  --bg-color: #f8f8f8;
  --text-color: #212121;
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}
