@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

@import "tailwindcss";

@theme {
  --font-source: "Source Serif 4", serif;
}

:root {
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}
