@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));


@theme {
 
  --color-app-bg: var(--app-bg);
  --color-app-text: var(--app-text);
}

:root {
  --app-bg: #ffffff;
  --app-text: #000000;
  font-family: Arial, Helvetica, sans-serif;
}


.dark {
  --app-bg: #1a1a1a;
  --app-text: #f5f5f5;
}
